.separatePage {
	position: relative;
}
.separatePage:hover .separatePagePanel {
	height: 40px;
	border: 1px solid #e2e8f0;
}
.separatePagePanel {
	height: 0px;
	overflow: hidden;
	position: absolute;
	cursor: pointer;
	top: -20px !important;
}
